.blog-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

/* figure styling */
.blog-container figure {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: auto;
}

/* figcaption styling */
.blog-container figcaption {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 16px;
    width: 200px;
}

/* blog paragraph styling */
.blog-container p {
    text-align: center;
    font-weight: 600;
}

/* blog images styling */
.blog-container img {
    width: 100%;
    max-width: 300px;
    margin-bottom: 5px;
}

/* blog article container styling */
.blog-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px;
    width: 100%;
    max-width: 600px;
    margin-bottom: 50px;
    background-color: #181416a2;
    border-radius: 8px;
    
}

/* desktop media query */
@media only screen and (min-width: 1248px) {
    /* blog article styles */
    .blog-article {
        align-items: center;
        max-width: 49%;
        min-height: 500px;
    }
    /* blog article content styles */
    .blog-article-content {
        display: flex;
    }
    /* blog container image styles */
    .blog-container img {
        max-width: 400px;
    }
    /* content reverse styles */
    .content-reverse {
        flex-direction: row-reverse;
    }
    /* refinement needed, figure should have a class to prevent class chaining to avoid hierarchy issues */
    .blog-article .content-reverse figure {
        margin-right: 0;
        margin-left: 24px;
    }
    /* figure styles */
    .blog-article figure {
        max-width: 40%;
        margin-right: 24px;
    }
    /* figcaption styles */
    .blog-article figcaption {
        margin-bottom: 0;
    }
    /* article paragraph styles */
    .blog-article p {
        text-align: left;
        width: 100%;
    }
}