/* styling for viewports iphone 5/SE and above */

:root {
    --main-color: #C5C7C5;
    --colorpop-color: rgb(243, 0, 122);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--main-color);
    font-size: 18px;
    /* position: relative; */
}

/* global styling */

.background {
    background: rgb(50,0,120);
    background: linear-gradient(0deg, rgba(50,0,120,1) 0%, rgba(0,0,0,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.container {
    max-width: 1440px;
    padding: 0 24px;
    margin-left: auto;
    margin-right: auto;
}

/* navabr styling and pseudo classes */
.navbar {
    text-align: center;
    
}

.navbar li {
    display: inline;
    list-style: none;
    margin-right: 10px;
    font-size: 14px;
    
}

.navbar a {
    color: var(--main-color);
}

.navbar a:hover {
    color: var(--colorpop-color);
}

.navbar a:active {
    color: var(--colorpop-color);
}

/* a tag styles */
a {
    text-decoration: none;
    color: var(--main-color);
}

/* global page heading */
h2 {
    font-size: 30px;
    text-align: center;
    
    margin-top: 30px;
    margin-bottom: 30px;
}

/* social link */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(0,0,0,0.75);
    color: var(--main-color);
    height: 50px;
}

/* Home page styling */

.period {
    color: rgb(255, 43, 124);
}

/* background height */
.home-container {
    height: 100%;
    min-height: 100vh;
}

/* home content flex styling */
.home-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* hero image*/
.home-image {
    width: 200px;
    border-radius: 50%;
    margin-bottom: 25px;
}

/* home page heading styling */
.home-container h1 {
    font-size: 25px;
    margin-bottom: 5px;
}

.home-container h3 {
    font-size: 20px;
    margin-bottom: 5px;
}

.home-container h4 {
    font-size: 18px;
    margin-bottom: 25px;
}

/* home paragraph styling */
.home-content-description {
    max-width: 350px;
    width: 100%;
}

.home-container p {
    margin-bottom: 25px;
    font-size: 22px;
}

/* social link styling */
.social-links li {
    display: inline;
    list-style: none;
    font-size: 30px;
    margin-right: 20px;
}

/* social link pseudo class styling */
.social-links a:active {
    color: var(--colorpop-color);
}

.social-links a:hover {
    color: var(--colorpop-color);
}

/* call to action button styling */
.cta-buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* button a tag styling */
.cta-buttons a {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* button primary styling */
.btn-primary {
    height: 52px;
    width: 100%;
    max-width: 200px;
    border-radius: 50px;
    border-style: none;
    padding: 0 50px;
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    cursor: pointer;
    background-color: var(--colorpop-color);
}

/* button primary ID to change font color to specific button */
#btn-primary-font {
    color: #000;
}

/* alternate button styling */
.btn-alt {
    background-color: transparent;
    border: 2px solid var(--main-color);
    color: var(--main-color);
    margin-bottom: 50px;
}

/* tablet media query */
@media only screen and (min-width: 768px) {
    .navbar li {
        font-size: 24px;
    }
    h2 {
        font-size: 45px;
    }
    .home-image {
        width: 250px;
    }
    .home-content h1 {
        font-size: 35px;
    }
    .home-content h3 {
        font-size: 30px;
    }
    .home-content h4 {
        font-size: 28px;
    }
    .home-content-description {
        max-width: 500px;
    }
    .home-content p {
        font-size: 35px;
    }
    .cta-buttons {
        flex-direction: row;
        margin-bottom: 50px;
    }
    .btn-primary {
        margin: 0;
    }
    .btn-alt {
        margin-left: 25px;
    }
}

/* desktop media query */
@media only screen and (min-width: 1248px) {
    .navbar li {
        font-size: 24px;
    }
    h2 {
        font-size: 45px;
    }
    .home-image {
        width: 250px;
    }
    .home-content h1 {
        font-size: 35px;
    }
    .home-content h3 {
        font-size: 30px;
    }
    .home-content h4 {
        font-size: 28px;
    }
    .home-content-description {
        width: 500px;
    }
    .home-content p {
        font-size: 35px;
    }

}