:root {
    --main-color: rgba(255, 255, 255, 0.637);
    --colorpop-color: rgb(255, 43, 124);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 25px;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--main-color);
    background-image: url(../img/star-background.jpg);
    background-size: cover;
    
}

/* global styling */

.container {
    /* height: 100vh;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto; */
}



.background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    display: block;
    background-image: url(../img/star-background.jpg);
    background-size: cover;
    z-index: -1;
}

.navbar {
    text-align: center;
    
}

.navbar li {
    display: inline;
    list-style: none;
    margin-right: 10px;
    font-size: .9em;
    
}

.navbar a {
    color: #fff;
}

.navbar a:hover {
    color: var(--colorpop-color);
}

.navbar a:active {
    color: var(--colorpop-color);
}

a {
    text-decoration: none;
    color: var(--main-color);
}

h2 {
    font-size: 2em;
    text-align: center;
    
    margin-top: 30px;
    margin-bottom: 30px;
}

button:hover {
    background-color: transparent;
}

button a:hover{
    color: #fff;
}

button {
    background-color: rgb(255, 43, 124);
}

.footer {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}

/* Home page styling */

.period {
    color: rgb(255, 43, 124);
}

.home-container {
    text-align: center;
}

.home-container img {
    width: 200px;
    border-radius: 50%;
    margin-bottom: 25px;
}

.home-container h1 {
    font-size: 25px;
    margin-bottom: 5px;
}

.home-container h3 {
    font-size: 20px;
    margin-bottom: 5px;
}

.home-container h4 {
    font-size: 18px;
    margin-bottom: 5px;
}

.home-container p {
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 25px;
}

.social-links li {
    display: inline;
    list-style: none;
    font-size: 30px;
    margin-right: 20px;
}

.social-links a:active {
    color: var(--colorpop-color);
}

.social-links a:hover {
    color: var(--colorpop-color);
}

.cta-buttons {
    text-align: center;
}

.cta-buttons a {
    font-size: 12px;
    font-weight: bolder;
    color: black;
}

.cta-buttons button {
    height: 40px;
    width: 80px;
    margin-right: 10px;
    border-radius: 10%;
    border-style: none;
}